@import 'src/styles/vars';
@import 'src/styles/btn';

.login {
  text-align: center;
  padding: 2rem 0 3rem;

  .register-errors {
    background-color: rgb(255, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;


    .register-error {
      padding: 0.5em;
    }
  }
  

  .needed-content {
    color: red;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }

  .login-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: #150d33;
    color: #fff;
    margin: auto;
    width: 90%;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    padding: 1rem 0;
  }

  .login-form {
    width: 90%;
    margin: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;
    background-color: rgba(#e6e6e6, 0.7);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  
    .input-container {
      position: relative;
      margin-top: 2rem;
  
      .login-input {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2rem;
        color: $light-text;
        font-family: $dosis-font;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid #150d33;
        outline: none;
        background: transparent;

        &:focus, &:valid {
          border-bottom: 1px solid #4a69bb;
        }
      }

      .login-error {
        background: rgba(#c02739, 0.6);
        border-radius: 0.5rem;
      }
  
      .login-label {
        position: absolute;
        top: 0%;
        left: 0;
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 600;
        color: #150d33;
        transition: .5s ease;

        .needed {
          color: red;
        }
      }

      .login-input:focus ~ .login-label,
      .login-input:valid ~ .login-label {
        top: -30%;
        color: #4a69bb;
      }
    }
  
    .login-button {
      @include btn-style;
      border: 2px solid #150d33;
      color: #150d33;
  
      &:before {
        background-color: #150d33;
      }
    }
  
  
  }
  .login-redirect {
    display: inline-block;
    padding: 0.5rem;
    transition: background 0.5s cubic-bezier(.33,.66,.66,1);
  }
}

@media screen and (min-width: 768px) {
  .login {
    min-height: 80vh;
    .login-title {
      width: 30%;
    }

    .login-form {
      padding: 1.5rem;
      width: 30%;
    }

  }

}
